#left-mc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}
.list {
    border:2px #c4161b solid;
    padding :4px;
    border-radius: 4px;
    height:fit-content;
}
.list > * {
    margin: 0px;
    color: White;
}
ul{
    margin: 0px;
}
#Admins{
    margin-left:15px;
}
.ServerInfo {
    margin-left: 15px;
}
.ServerInfo ul{
    padding-left:10px;
}
.ServerInfo a{
    text-decoration: none;
    text-decoration: underline;
    color:white;
}
.ServerInfo a:hover{
    text-decoration: none;
    text-decoration: underline;
    color:rgb(200,200,255);
    font-size: 18px;
}
.ServerInfo p{
    margin-left:5px;
    color:rgb(215,215,215);
    font-size:12px;
}