.slides{
    position: absolute;
    height:100vh;
}
.slides img{
    height:100vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color:black;
    opacity: .7;
}
#slide1{
    position: relative;
    animation: moveLeftSlides 15s linear infinite;
    z-index: 1;
    background-color:black;
}
#slide2{
    position: absolute;
    top:0px;
    right:-120vw;
    z-index: 1;
    background-color:black;
    animation: moveRightSlides 15s linear infinite;
}
#home .title{
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    z-index: 1;
}
@keyframes moveLeftSlides{
    0%, 75%{
        transform: translateX(0vw) scale(1,1); border: 0px solid rgba(0,0,0,0); display: block;
    }
    80%{
        transform: translateX(0vw) scale(.5,.5); border: 0px solid rgba(0,0,0,0);
    }
    100%{
        transform: translateX(-100vw) scale(.5,.5); border: 0px solid rgba(0,0,0,0);
    }
}
@keyframes moveRightSlides{
    0%, 75%{
        transform: translateX(0vw) scale(.5,.5); border: 0px solid rgba(0,0,0,0);
    }
    80%{
        transform: translateX(-0vw) scale(.5,.5); border: 0px solid rgba(0,0,0,0);
    }
    95%{
        transform: translateX(-120vw) scale(.5,.5); border: 0px solid rgba(0,0,0,0);
    }
    100%{
        transform: translateX(-120vw) scale(1,1); border: 0px solid rgba(0,0,0,0); display: none;
    }
}
@media only screen 
and (max-width : 600px) {
    @keyframes moveSlides{
        0%,93.33%{
            transform: translateX(0vw) scale(1, 1);
        }
        100%{
            transform: translateX(-200vw) scale(1,1);
        }
    }
}