.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.aboutus h2{
    margin-bottom: 10px;
}
.aboutus h3{
    border: 2px solid;
    border-color: #c4161b;
    padding :4px;
    border-radius: 4px;
    background-color: #101014;
    font-size: 10px;
}
.aboutus ol{
    margin: 5px 0px;
}