.banner{
    width:100%;
    height:80px;
    display: flex;
    position: sticky;
    top:0px;
    z-index: 2;
}
#topLeftCorner{
    height:80px;
    min-width: 80px;
    background-color: red; 
}
nav{
    display: flex;
    height:80px;
    align-items: center;
    margin-left:10px;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color:white;
    margin-bottom: 4px;
    margin-right: 15px;
    font-family: roboto-condensed-regular;
}
@media only screen 
and (max-width : 640px) {
    nav{
        width: 300px;
    }
    #grow{
        width:120px;
    }
}
#dead h2{
    color:#c4161b;
}
.frame {
    display: none;
}
.innerFrameImgs {
    display: none;
}
button{
    display: none;
}
#back{
    font-size: 20px;
    color:white;
    border: black 2px solid;
    border-radius: 5px;
    position: absolute;
    right:10px;
    top:10px;
    display: none;
    z-index: 3;
}
#backdrop{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,.2);
    backdrop-filter:blur(5px);
    display: none;
    z-index: 3;
}
.innerFrameImgs img{
    display: none;
}
#discord{
    display: none;
}
#tsBox{
    display: none;
}
#ts{
    display: none;
}
#ts::-webkit-scrollbar {
    display: none;
}
#tsBox::-webkit-scrollbar {
    display: none;
}
/* //////////////////  Middle ////////////////// */
.sideBorder{
    position: absolute;
    width:2px;
    background-color: rgba(255,255,255,.5);
    z-index: 1;
    transition: 100ms;
}
#sideLeftBorder{
    right: 80px;
}
#sideRightBorder{
    left: 80px;
}
@media only screen 
and (max-width : 640px) {
    .sideBorder{
        height:0px;
    }
    .middle{
        margin: 0px;
    }
}