@import "../fonts.css";
@import "../palates/new.css";

html,body {
    margin: 0px;
    padding: 0px;
    font-family: varela;
    overflow: hidden;
    width:100%;
}
h2,h3, h4,h5, p{
    margin:0px;
}
/* //////////////////  Layer 1 ////////////////// */
.upper{
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    width:100%;
    position: absolute;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(25vh);
    scroll-snap-type: y mandatory;
}
.upper::-webkit-scrollbar-thumb {
  background-color: #c4161b;
}
.upper::-webkit-scrollbar {
    background-color: #101014;
    width:12px;
    
}
section {
    scroll-snap-align: center;
    height:100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
    margin-top: -10vh; 
}
#bottom{
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: #101014;
}