html{
    background-color: #041c2e;
}
body{
    background-color: #041c2e;
    width: 100%;
    overflow-x: hidden;
}
.navbutton{
    background-color: #c44444;
}
.banner{
    background-color: #7C8494;
}
.banner h1{
    color: #c44444;
}
h1,h2,h3,h4,h5{
    color:white;
}